* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body * {
  font-family: "Inter", "sans-serif";
  color: #fff;
}
body {
  background: url(./assets/bg.jpg) no-repeat top center/cover;
}
#container {
  width: 22.5rem;
  margin: 3.5rem auto 0rem;
  padding: 0 1.5rem;
}
#profile {
  text-align: center;
  padding: 1.5rem;
}
#profile img {
  width: 7rem;
}
#profile p {
  font-weight: 500;
  margin-top: 0.5rem;
  line-height: 1.5rem;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 0;
}
ul li a {
  text-decoration: none;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;

  background: rgba(255, 255, 255, 0.1);
  transition: background 0.2s;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: 500;
}
li a:hover {
  background: rgba(255, 255, 255, 0.05);

  border: 1.5px solid #ffffff;
  backdrop-filter: blur(4px);

  border-radius: 0.5rempx;
}
#social {
  display: flex;
  gap: 2rem;
  padding: 1.5rem 0;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}
#social a {
  display: flex;
}
#social svg {
  transform: scale(1.5);
}
